<div style="width: 100%; height: 500px; background-color: white;">
  <iframe src="https://www.cracking.com.ar/redir/redir.php?URL=http://localhost:9222/json" width="800" height="500" ></iframe>
</div>
