<div style="width: 100%; height: 500px; background-color: white;">
  <iframe src="http://localhost:9222/json" width="400" height="500" ></iframe>
  <iframe src="http://www.example.com" width="400" height="500" ></iframe>
</div>
